.chip {
    padding: 0 1px 0 8px;
    border-radius: 20px;
    border: 1px solid #e1e1e1;
    width: fit-content;
    max-width: calc(100% - 6px);
    height: 30px;
    position: relative;
    white-space: nowrap;
}